In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
#載入資料
df = pd.read_csv('finish_data.csv')
df

,user_pseudo_id,first_visit,total_page_view,weekday_page_views,holiday_page_views,hat_page_views,top_page_views,bottom_page_views,accessories_page_views,weekday_add_to_cart,...,January_page_view,Febuary_page_view,country,region,source,product_name,product_tags,sub_categ,product_price,price_category
0,1.073822e+05,Yes,1,0,1,0,1,0,0,0,...,1,0,Ireland,County Dublin,facebook.com,NaN,未瀏覽,未瀏覽,0,未瀏覽
1,5.661892e+05,Yes,4,4,0,0,4,1,0,1,...,0,4,Taiwan,Taipei City,l.instagram.com,NaN,未瀏覽,未瀏覽,0,未瀏覽
2,1.193918e+06,Yes,1,1,0,1,1,0,0,0,...,0,0,Taiwan,New Taipei City,(direct),NaN,未瀏覽,未瀏覽,0,未瀏覽
3,3.625752e+06,Yes,2,2,0,0,2,0,0,0,...,0,2,Taiwan,Taichung City,l.instagram.com,連身洋裝｜2 月新品｜連身透視氣質洋裝,"連身洋裝, 洋裝",裙子,790,中價
4,4.281747e+06,Yes,6,6,0,0,6,0,0,0,...,6,0,Taiwan,New Taipei City,l.instagram.com,NaN,未瀏覽,未瀏覽,0,未瀏覽
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2131,2.143042e+09,Yes,3,3,0,0,3,0,1,0,...,3,0,Taiwan,Taipei City,instagram.com,男生衣服｜徽章質感 T-shirt,男生上衣,衣服,698,中價
2132,2.143131e+09,Yes,1,1,0,0,1,0,0,0,...,1,0,Taiwan,Taipei City,l.instagram.com,NaN,未瀏覽,未瀏覽,0,未瀏覽
2133,2.143613e+09,No,3,3,0,0,3,0,0,0,...,0,3,Taiwan,New Taipei City,(direct),NaN,未瀏覽,未瀏覽,0,未瀏覽
2134,2.143640e+09,No,8,8,0,1,8,0,1,0,...,8,0,Taiwan,Hsinchu County,(direct),NaN,未瀏覽,未瀏覽,0,未瀏覽
2135,2.144016e+09,Yes,1,1,0,1,1,0,0,0,...,0,0,Taiwan,New Taipei City,instagram.com,帽 T | 拼色風格內刷毛帽 T | 最後現貨不追加,帽 T,毛帽,880,高價

In [3]:
df.drop(columns=['product_name', 'product_tags', 'product_price', 'INTEGER'], inplace=True)
df.head()

,user_pseudo_id,first_visit,total_page_view,weekday_page_views,holiday_page_views,hat_page_views,top_page_views,bottom_page_views,accessories_page_views,weekday_add_to_cart,...,bottom_add_to_cart,accessories_add_to_cart,December_page_view,January_page_view,Febuary_page_view,country,region,source,sub_categ,price_category
0,1.073822e+05,Yes,1,0,1,0,1,0,0,0,...,0,0,0,1,0,Ireland,County Dublin,facebook.com,未瀏覽,未瀏覽
1,5.661892e+05,Yes,4,4,0,0,4,1,0,1,...,1,0,0,0,4,Taiwan,Taipei City,l.instagram.com,未瀏覽,未瀏覽
2,1.193918e+06,Yes,1,1,0,1,1,0,0,0,...,0,1,1,0,0,Taiwan,New Taipei City,(direct),未瀏覽,未瀏覽
3,3.625752e+06,Yes,2,2,0,0,2,0,0,0,...,0,0,0,0,2,Taiwan,Taichung City,l.instagram.com,裙子,中價
4,4.281747e+06,Yes,6,6,0,0,6,0,0,0,...,0,0,0,6,0,Taiwan,New Taipei City,l.instagram.com,未瀏覽,未瀏覽

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2136 entries, 0 to 2135
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   user_pseudo_id           2136 non-null   float64
 1   first_visit              2136 non-null   object
 2   total_page_view          2136 non-null   int64
 3   weekday_page_views       2136 non-null   int64
 4   holiday_page_views       2136 non-null   int64
 5   hat_page_views           2136 non-null   int64
 6   top_page_views           2136 non-null   int64
 7   bottom_page_views        2136 non-null   int64
 8   accessories_page_views   2136 non-null   int64
 9   weekday_add_to_cart      2136 non-null   int64
 10  holiday_add_to_cart      2136 non-null   int64
 11  hat_add_to_cart          2136 non-null   int64
 12  top_add_to_cart          2136 non-null   int64
 13  bottom_add_to_cart       2136 non-null   int64
 14  accessories_add_to_cart  2136 non-null   int64
 15  December_page_view       2136 non-null   int64
 16  January_page_view        2136 non-null   int64
 17  Febuary_page_view        2136 non-null   int64
 18  country                  2135 non-null   object
 19  region                   2105 non-null   object
 20  source                   2136 non-null   object
 21  sub_categ                2136 non-null   object
 22  price_category           2136 non-null   object
dtypes: float64(1), int64(16), object(6)
memory usage: 383.9+ KB

In [5]:
df.dropna(subset=['region'], inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2105 entries, 0 to 2135
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   user_pseudo_id           2105 non-null   float64
 1   first_visit              2105 non-null   object
 2   total_page_view          2105 non-null   int64
 3   weekday_page_views       2105 non-null   int64
 4   holiday_page_views       2105 non-null   int64
 5   hat_page_views           2105 non-null   int64
 6   top_page_views           2105 non-null   int64
 7   bottom_page_views        2105 non-null   int64
 8   accessories_page_views   2105 non-null   int64
 9   weekday_add_to_cart      2105 non-null   int64
 10  holiday_add_to_cart      2105 non-null   int64
 11  hat_add_to_cart          2105 non-null   int64
 12  top_add_to_cart          2105 non-null   int64
 13  bottom_add_to_cart       2105 non-null   int64
 14  accessories_add_to_cart  2105 non-null   int64
 15  December_page_view       2105 non-null   int64
 16  January_page_view        2105 non-null   int64
 17  Febuary_page_view        2105 non-null   int64
 18  country                  2105 non-null   object
 19  region                   2105 non-null   object
 20  source                   2105 non-null   object
 21  sub_categ                2105 non-null   object
 22  price_category           2105 non-null   object
dtypes: float64(1), int64(16), object(6)
memory usage: 394.7+ KB

In [8]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False)
encoded_feature = encoder.fit_transform(df[['first_visit', 'country', 'region', 'source', 'sub_categ', 'price_category']])

/Users/serene0215/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [9]:
encoded_feature_names = encoder.get_feature_names_out(['first_visit', 'country', 'region', 'source', 'sub_categ', 'price_category'])

In [10]:
encoded_df = pd.DataFrame(encoded_feature, columns=encoded_feature_names)

In [11]:
data = pd.concat([encoded_df], axis=1)

In [12]:
data.head()

,first_visit_No,first_visit_Yes,country_Canada,country_Czechia,country_Egypt,country_Germany,country_India,country_Ireland,country_Italy,country_Japan,...,sub_categ_裙子,sub_categ_褲子,sub_categ_襪子,sub_categ_貝蕾帽,sub_categ_鐘形帽 & 漁夫帽,sub_categ_項鍊,price_category_中價,price_category_低價,price_category_未瀏覽,price_category_高價
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
from sklearn.cluster import KMeans
k_means = KMeans(init='k-means++', n_clusters=7, random_state=0)

In [15]:
k_means.fit(data)

/Users/serene0215/anaconda3/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

KMeans(n_clusters=7, random_state=0)

In [16]:
k_means.cluster_centers_

array([[ 6.02409639e-03,  9.93975904e-01, -8.67361738e-19,
        -1.30104261e-18,  2.71050543e-19,  5.42101086e-19,
         5.42101086e-19, -2.60208521e-18,  2.71050543e-19,
         5.42101086e-19,  5.42101086e-19,  2.71050543e-19,
         5.42101086e-19,  1.08420217e-18, -1.30104261e-18,
        -8.67361738e-19,  1.00000000e+00, -4.33680869e-19,
        -8.67361738e-19, -2.08166817e-17,  5.42101086e-19,
         2.71050543e-19, -1.30104261e-18, -8.67361738e-19,
         5.42101086e-19, -6.93889390e-18,  5.42101086e-19,
        -1.30104261e-18,  2.16840434e-18, -2.60208521e-18,
         2.71050543e-19, -8.67361738e-19,  2.71050543e-19,
         5.42101086e-19,  5.42101086e-19,  2.71050543e-19,
         5.42101086e-19, -1.73472348e-17,  5.20417043e-18,
        -4.33680869e-19,  2.71050543e-19,  5.42101086e-19,
         2.71050543e-19,  4.16333634e-17,  2.71050543e-19,
        -6.93889390e-18,  2.71050543e-19,  2.71050543e-19,
         2.71050543e-19,  4.33680869e-18,  2.71050543e-19,
         2.71050543e-19,  2.16840434e-18,  5.55111512e-17,
         5.42101086e-19, -8.67361738e-19,  4.33680869e-18,
         2.71050543e-19, -8.67361738e-19, -2.60208521e-18,
         2.71050543e-19, -1.30104261e-18, -3.46944695e-18,
        -1.30104261e-18,  2.71050543e-19, -1.30104261e-18,
         2.71050543e-19,  5.42101086e-19,  2.71050543e-19,
         8.32667268e-17,  1.73472348e-17,  1.00000000e+00,
        -4.33680869e-19,  5.55111512e-17,  2.71050543e-19,
         2.71050543e-19, -3.46944695e-18,  2.71050543e-19,
        -1.30104261e-18, -8.67361738e-19,  0.00000000e+00,
         3.01204819e-03, -1.04083409e-17,  1.20481928e-02,
         1.50602410e-02,  7.53012048e-02,  3.01204819e-03,
         8.70481928e-01,  2.71050543e-19,  2.16840434e-18,
        -2.60208521e-18,  6.02409639e-03,  1.50602410e-02,
         2.16840434e-18,  1.08420217e-18, -3.46944695e-18,
        -1.04083409e-17, -2.77555756e-17,  1.08420217e-18,
         1.00000000e+00,  4.33680869e-18,  2.71050543e-19,
        -3.46944695e-18,  4.16333634e-17,  3.46944695e-17,
        -1.30104261e-18, -4.33680869e-19, -3.46944695e-18,
        -1.04083409e-17, -2.60208521e-18, -6.93889390e-17,
         1.38777878e-17,  1.00000000e+00, -1.38777878e-17],
       [ 3.33333333e-02,  9.66666667e-01,  5.55555556e-03,
        -6.50521303e-19, -5.42101086e-20, -1.08420217e-19,
        -1.08420217e-19, -1.30104261e-18, -5.42101086e-20,
         5.55555556e-03,  5.55555556e-03, -5.42101086e-20,
        -1.08420217e-19, -2.16840434e-19, -6.50521303e-19,
         0.00000000e+00,  9.83333333e-01,  0.00000000e+00,
        -8.67361738e-19, -1.04083409e-17, -1.08420217e-19,
        -5.42101086e-20, -6.50521303e-19,  5.55555556e-03,
        -1.08420217e-19,  2.22222222e-02, -1.08420217e-19,
        -6.50521303e-19, -4.33680869e-19, -1.30104261e-18,
        -5.42101086e-20, -8.67361738e-19, -5.42101086e-20,
        -1.08420217e-19, -1.08420217e-19, -5.42101086e-20,
        -1.08420217e-19,  3.88888889e-02,  2.22222222e-02,
         5.55555556e-03, -5.42101086e-20, -1.08420217e-19,
        -5.42101086e-20,  8.33333333e-02, -5.42101086e-20,
         1.11111111e-02, -5.42101086e-20, -5.42101086e-20,
        -5.42101086e-20,  5.55555556e-03, -5.42101086e-20,
        -5.42101086e-20, -4.33680869e-19,  2.33333333e-01,
        -1.08420217e-19,  0.00000000e+00, -8.67361738e-19,
        -5.42101086e-20, -8.67361738e-19, -1.30104261e-18,
        -5.42101086e-20, -6.50521303e-19, -1.73472348e-18,
        -6.50521303e-19, -5.42101086e-20, -6.50521303e-19,
        -5.42101086e-20, -1.08420217e-19,  5.55555556e-03,
         1.55555556e-01,  3.33333333e-02,  2.94444444e-01,
         5.55555556e-03,  6.11111111e-02,  5.55555556e-03,
        -5.42101086e-20, -1.73472348e-18, -5.42101086e-20,
        -6.50521303e-19,  1.11111111e-02,  1.55555556e-01,
        -5.42101086e-20,  5.20417043e-18, -3.46944695e-18,
         0.00000000e+00,  1.11111111e-01, -6.50521303e-19,
         7.33333333e-01, -5.42101086e-20, -4.33680869e-19,
        -1.30104261e-18,  0.00000000e+00, -8.67361738e-19,
         2.22222222e-02, -2.16840434e-19,  5.00000000e-02,
         1.66666667e-02, -1.38777878e-17, -2.16840434e-19,
         0.00000000e+00,  2.77777778e-02,  5.55555556e-03,
         1.27777778e-01,  8.33333333e-02,  5.94444444e-01,
        -6.50521303e-19,  0.00000000e+00,  5.00000000e-02,
         2.22222222e-02, -1.30104261e-18,  8.66666667e-01,
         1.38777878e-17,  0.00000000e+00,  1.33333333e-01],
       [ 3.49344978e-02,  9.65065502e-01,  4.36681223e-03,
        -1.30104261e-18, -5.42101086e-20, -1.08420217e-19,
        -1.08420217e-19, -2.60208521e-18, -5.42101086e-20,
        -1.08420217e-19,  4.36681223e-03, -5.42101086e-20,
        -1.08420217e-19, -2.16840434e-19, -1.30104261e-18,
         8.67361738e-19,  9.69432314e-01,  8.73362445e-03,
         8.73362445e-03,  4.36681223e-03, -1.08420217e-19,
        -5.42101086e-20,  4.36681223e-03,  4.36681223e-03,
        -1.08420217e-19,  1.74672489e-02,  4.36681223e-03,
        -1.30104261e-18, -4.33680869e-19, -2.60208521e-18,
         4.36681223e-03,  8.73362445e-03, -5.42101086e-20,
        -1.08420217e-19, -1.08420217e-19, -5.42101086e-20,
        -1.08420217e-19,  2.18340611e-02,  8.73362445e-03,
         4.36681223e-03, -5.42101086e-20, -1.08420217e-19,
        -5.42101086e-20,  5.24017467e-02, -5.42101086e-20,
         2.62008734e-02, -5.42101086e-20, -5.42101086e-20,
        -5.42101086e-20,  1.31004367e-02, -5.42101086e-20,
        -5.42101086e-20,  8.73362445e-03,  1.96506550e-01,
        -1.08420217e-19,  8.67361738e-19,  0.00000000e+00,
         4.36681223e-03, -8.67361738e-19, -2.60208521e-18,
        -5.42101086e-20, -1.30104261e-18,  4.36681223e-03,
        -1.30104261e-18, -5.42101086e-20, -1.30104261e-18,
        -5.42101086e-20, -1.08420217e-19, -5.42101086e-20,
         1.44104803e-01,  3.49344978e-02,  3.49344978e-01,
         4.33680869e-19,  8.29694323e-02, -5.42101086e-20,
        -5.42101086e-20, -1.73472348e-18, -5.42101086e-20,
         4.36681223e-03,  8.67361738e-19,  1.96506550e-01,
        -5.42101086e-20,  3.46944695e-18,  1.31004367e-02,
         4.33680869e-19,  1.09170306e-01, -1.30104261e-18,
         6.76855895e-01, -5.42101086e-20,  4.36681223e-03,
        -2.60208521e-18,  8.67361738e-19,  0.00000000e+00,
         1.74672489e-02,  1.74672489e-02, -1.73472348e-18,
         6.11353712e-02, -2.08166817e-17,  1.74672489e-02,
         0.00000000e+00,  1.31004367e-02, -5.42101086e-20,
         1.13537118e-01,  5.80786026e-01,  4.36681223e-02,
        -1.30104261e-18,  2.18340611e-02, -1.73472348e-18,
         8.73362445e-02,  2.62008734e-02,  0.00000000e+00,
         9.03930131e-01,  0.00000000e+00,  9.60698690e-02],
       [ 3.33333333e-02,  9.66666667e-01,  4.33680869e-19,
         0.00000000e+00,  5.42101086e-20,  1.08420217e-19,
         1.08420217e-19,  8.33333333e-03,  5.42101086e-20,
         1.08420217e-19,  1.08420217e-19,  5.42101086e-20,
         1.08420217e-19,  2.16840434e-19,  0.00000000e+00,
         8.33333333e-03,  9.00000000e-01, -4.33680869e-19,
         4.33680869e-19,  8.33333333e-02,  1.08420217e-19,
         5.42101086e-20,  0.00000000e+00,  4.33680869e-19,
         1.08420217e-19,  8.33333333e-03,  1.08420217e-19,
         0.00000000e+00,  8.33333333e-03,  8.33333333e-03,
         5.42101086e-20,  4.33680869e-19,  5.42101086e-20,
         1.08420217e-19,  1.08420217e-19,  5.42101086e-20,
         1.08420217e-19,  2.50000000e-02,  8.33333333e-03,
         8.33333333e-03,  5.42101086e-20,  1.66666667e-02,
         5.42101086e-20,  6.66666667e-02,  5.42101086e-20,
         8.33333333e-03,  5.42101086e-20,  5.42101086e-20,
         5.42101086e-20,  1.66666667e-02,  5.42101086e-20,
         5.42101086e-20,  4.33680869e-19,  2.33333333e-01,
         1.08420217e-19,  8.33333333e-03,  2.50000000e-02,
         5.42101086e-20,  4.33680869e-19,  0.00000000e+00,
         5.42101086e-20,  8.33333333e-03,  8.33333333e-03,
         0.00000000e+00,  5.42101086e-20,  0.00000000e+00,
         5.42101086e-20,  1.08420217e-19,  5.42101086e-20,
         1.25000000e-01,  1.66666667e-02,  2.83333333e-01,
        -4.33680869e-19,  6.66666667e-02,  5.42101086e-20,
         5.42101086e-20,  4.16666667e-02,  5.42101086e-20,
         0.00000000e+00,  8.33333333e-03,  4.16666667e-01,
         5.42101086e-20,  5.83333333e-02, -5.20417043e-18,
        -4.33680869e-19,  2.50000000e-01,  0.00000000e+00,
         2.41666667e-01,  5.42101086e-20,  3.33333333e-02,
         0.00000000e+00,  8.67361738e-19,  8.67361738e-19,
         4.33680869e-19,  2.16840434e-19, -2.60208521e-18,
         5.83333333e-02,  6.83333333e-01,  2.16840434e-19,
         0.00000000e+00,  6.66666667e-02,  5.42101086e-20,
        -3.46944695e-18,  7.50000000e-02,  9.16666667e-02,
         2.50000000e-02, -4.33680869e-19, -2.60208521e-18,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.38777878e-17,  0.00000000e+00,  1.00000000e+00],
       [ 5.97014925e-03,  9.94029851e-01,  5.97014925e-03,
         1.49253731e-03,  1.49253731e-03,  1.30104261e-18,
         1.30104261e-18,  5.97014925e-03,  1.49253731e-03,
         1.49253731e-03,  1.30104261e-18,  6.50521303e-19,
         1.30104261e-18,  2.60208521e-18,  2.98507463e-03,
         1.34328358e-02,  9.34328358e-01,  1.49253731e-03,
         4.47761194e-03,  2.38805970e-02,  1.49253731e-03,
         6.50521303e-19,  1.49253731e-03,  5.97014925e-03,
         1.49253731e-03,  4.62686567e-02,  1.30104261e-18,
         2.98507463e-03,  8.95522388e-03,  5.97014925e-03,
         6.50521303e-19,  4.47761194e-03,  1.49253731e-03,
         1.30104261e-18,  1.30104261e-18,  6.50521303e-19,
         1.49253731e-03,  2.08955224e-02,  2.23880597e-02,
         2.98507463e-03,  1.49253731e-03,  1.30104261e-18,
         6.50521303e-19,  1.98507463e-01,  6.50521303e-19,
         4.47761194e-03,  6.50521303e-19,  6.50521303e-19,
         6.50521303e-19,  7.46268657e-03,  6.50521303e-19,
         6.50521303e-19,  8.95522388e-03,  4.13432836e-01,
         1.30104261e-18,  1.34328358e-02,  1.19402985e-02,
         6.50521303e-19,  8.67361738e-19,  2.98507463e-03,
         1.49253731e-03,  2.98507463e-03,  8.95522388e-03,
         1.49253731e-03,  6.50521303e-19, -4.33680869e-19,
         6.50521303e-19,  2.98507463e-03,  6.50521303e-19,
         2.22044605e-16,  5.52238806e-02,  6.10622664e-16,
         5.97014925e-03,  1.11940299e-01,  6.50521303e-19,
         1.49253731e-03,  5.97014925e-03,  6.50521303e-19,
         2.98507463e-03,  8.95522388e-03,  5.55111512e-17,
         6.50521303e-19,  3.43283582e-02,  1.04477612e-02,
        -1.73472348e-18,  8.35820896e-02,  2.98507463e-03,
         8.35820896e-01,  6.50521303e-19,  2.98507463e-03,
         7.46268657e-03,  1.49253731e-02,  7.46268657e-03,
         5.20417043e-18,  2.60208521e-18,  8.67361738e-19,
        -3.46944695e-18, -3.46944695e-17,  2.60208521e-18,
         1.00000000e+00,  1.04083409e-17,  6.50521303e-19,
         2.42861287e-17,  2.77555756e-17,  8.32667268e-17,
        -4.33680869e-19, -1.73472348e-18,  8.67361738e-19,
        -3.46944695e-18, -8.67361738e-19, -1.80411242e-16,
         1.24900090e-16,  1.00000000e+00, -6.93889390e-17],
       [ 5.98802395e-03,  9.94011976e-01, -4.33680869e-19,
        -4.33680869e-19, -1.62630326e-19, -3.25260652e-19,
        -3.25260652e-19, -8.67361738e-19, -1.62630326e-19,
        -3.25260652e-19, -3.25260652e-19, -1.62630326e-19,
        -3.25260652e-19, -6.50521303e-19, -4.33680869e-19,
        -8.67361738e-19,  1.00000000e+00, -4.33680869e-19,
        -4.33680869e-19, -6.93889390e-18, -3.25260652e-19,
        -1.62630326e-19, -4.33680869e-19, -4.33680869e-19,
        -3.25260652e-19, -3.46944695e-18, -3.25260652e-19,
        -4.33680869e-19, -1.30104261e-18, -8.67361738e-19,
        -1.62630326e-19, -4.33680869e-19, -1.62630326e-19,
        -3.25260652e-19, -3.25260652e-19, -1.62630326e-19,
        -3.25260652e-19, -3.46944695e-18, -3.46944695e-18,
        -4.33680869e-19, -1.62630326e-19, -3.25260652e-19,
        -1.62630326e-19,  0.00000000e+00, -1.62630326e-19,
        -6.93889390e-18, -1.62630326e-19, -1.62630326e-19,
        -1.62630326e-19,  0.00000000e+00, -1.62630326e-19,
        -1.62630326e-19, -1.30104261e-18, -5.55111512e-17,
        -3.25260652e-19, -8.67361738e-19,  0.00000000e+00,
        -1.62630326e-19, -4.33680869e-19, -8.67361738e-19,
        -1.62630326e-19, -4.33680869e-19, -2.60208521e-18,
        -4.33680869e-19, -1.62630326e-19, -4.33680869e-19,
        -1.62630326e-19, -3.25260652e-19, -1.62630326e-19,
         1.00000000e+00,  3.46944695e-18, -1.11022302e-16,
        -4.33680869e-19,  2.77555756e-17, -1.62630326e-19,
        -1.62630326e-19, -2.60208521e-18, -1.62630326e-19,
        -4.33680869e-19, -8.67361738e-19,  0.00000000e+00,
        -1.62630326e-19,  3.46944695e-18,  2.39520958e-02,
        -4.33680869e-19,  1.13772455e-01, -4.33680869e-19,
         8.32335329e-01,  5.98802395e-03,  5.98802395e-03,
         5.98802395e-03,  5.98802395e-03,  5.98802395e-03,
        -1.30104261e-18, -6.50521303e-19, -2.60208521e-18,
        -3.46944695e-18, -1.38777878e-17, -6.50521303e-19,
         1.00000000e+00, -2.60208521e-18, -1.62630326e-19,
        -6.93889390e-18,  4.16333634e-17, -2.08166817e-17,
        -4.33680869e-19, -4.33680869e-19, -2.60208521e-18,
        -3.46944695e-18, -8.67361738e-19, -1.38777878e-17,
         0.00000000e+00,  1.00000000e+00,  0.00000000e+00],
       [ 2.97297297e-01,  7.02702703e-01,  2.45700246e-03,
         4.91400491e-03,  3.25260652e-19,  4.91400491e-03,
         4.91400491e-03,  2.45700246e-03,  3.25260652e-19,
         6.50521303e-19,  6.50521303e-19,  2.45700246e-03,
         4.91400491e-03,  9.82800983e-03,  2.45700246e-03,
         1.73472348e-18,  8.96805897e-01,  4.91400491e-03,
         4.91400491e-03,  5.15970516e-02,  2.45700246e-03,
         2.45700246e-03,  2.45700246e-03,  2.45700246e-03,
         2.45700246e-03,  3.93120393e-02,  2.45700246e-03,
         2.45700246e-03,  2.45700246e-03,  2.45700246e-03,
         3.25260652e-19,  4.91400491e-03,  3.25260652e-19,
         4.91400491e-03,  4.91400491e-03,  2.45700246e-03,
         2.45700246e-03,  2.45700246e-02,  1.22850123e-02,
         8.67361738e-19,  3.25260652e-19,  6.50521303e-19,
         2.45700246e-03,  5.40540541e-02,  2.45700246e-03,
         2.70270270e-02,  2.45700246e-03,  2.45700246e-03,
         2.45700246e-03,  4.33680869e-18,  2.45700246e-03,
         2.45700246e-03,  2.60208521e-18,  1.91646192e-01,
         4.91400491e-03,  1.73472348e-18,  4.33680869e-18,
         3.25260652e-19,  1.71990172e-02,  9.82800983e-03,
         3.25260652e-19, -8.67361738e-19,  2.45700246e-03,
         4.91400491e-03,  2.45700246e-03,  7.37100737e-03,
         2.45700246e-03,  6.50521303e-19,  3.25260652e-19,
         8.59950860e-02,  2.45700246e-02,  3.68550369e-01,
         8.67361738e-19,  5.89680590e-02,  3.25260652e-19,
         3.25260652e-19, -1.73472348e-18,  2.45700246e-03,
        -8.67361738e-19,  2.45700246e-03,  9.97542998e-01,
         3.25260652e-19, -1.04083409e-17, -3.46944695e-18,
         8.67361738e-19,  2.45700246e-03, -8.67361738e-19,
         1.11022302e-16,  3.25260652e-19,  2.60208521e-18,
        -1.73472348e-18, -8.67361738e-19,  4.33680869e-18,
         2.60208521e-18,  1.30104261e-18, -1.73472348e-18,
        -6.93889390e-18, -2.77555756e-17,  1.30104261e-18,
         1.00000000e+00,  5.20417043e-18,  3.25260652e-19,
         1.38777878e-17,  5.55111512e-17,  4.16333634e-17,
        -8.67361738e-19,  8.67361738e-19, -1.73472348e-18,
        -6.93889390e-18, -1.73472348e-18, -5.55111512e-17,
         8.32667268e-17,  1.00000000e+00,  0.00000000e+00]])

In [17]:
df1 = pd.DataFrame(k_means.labels_, columns = ['cluster'])
df1.head()

   cluster
0        4
1        0
2        6
3        1
4        4

In [19]:
df2 = data.join(df1)
df2.head()

,first_visit_No,first_visit_Yes,country_Canada,country_Czechia,country_Egypt,country_Germany,country_India,country_Ireland,country_Italy,country_Japan,...,sub_categ_褲子,sub_categ_襪子,sub_categ_貝蕾帽,sub_categ_鐘形帽 & 漁夫帽,sub_categ_項鍊,price_category_中價,price_category_低價,price_category_未瀏覽,price_category_高價,cluster
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,6
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4

In [20]:
df2.groupby('cluster').mean()

,first_visit_No,first_visit_Yes,country_Canada,country_Czechia,country_Egypt,country_Germany,country_India,country_Ireland,country_Italy,country_Japan,...,sub_categ_裙子,sub_categ_褲子,sub_categ_襪子,sub_categ_貝蕾帽,sub_categ_鐘形帽 & 漁夫帽,sub_categ_項鍊,price_category_中價,price_category_低價,price_category_未瀏覽,price_category_高價
cluster,,,,,,,,,,,,,,,,,,,,,
0,0.006024,0.993976,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000000,0.00,0.000000,0.000000,0.000000,0.00000,1.0,0.000000
1,0.033333,0.966667,0.005556,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.005556,...,0.594444,0.000,0.000000,0.05,0.022222,0.000000,0.866667,0.00000,0.0,0.133333
2,0.034934,0.965066,0.004367,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.043668,0.000,0.021834,0.00,0.087336,0.026201,0.000000,0.90393,0.0,0.096070
3,0.033333,0.966667,0.000000,0.000000,0.000000,0.000000,0.000000,0.008333,0.000000,0.000000,...,0.091667,0.025,0.000000,0.00,0.000000,0.000000,0.000000,0.00000,0.0,1.000000
4,0.005970,0.994030,0.005970,0.001493,0.001493,0.000000,0.000000,0.005970,0.001493,0.001493,...,0.000000,0.000,0.000000,0.00,0.000000,0.000000,0.000000,0.00000,1.0,0.000000
5,0.005988,0.994012,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000000,0.00,0.000000,0.000000,0.000000,0.00000,1.0,0.000000
6,0.297297,0.702703,0.002457,0.004914,0.000000,0.004914,0.004914,0.002457,0.000000,0.000000,...,0.000000,0.000,0.000000,0.00,0.000000,0.000000,0.000000,0.00000,1.0,0.000000